body{font-family:'Arial';font-size:12px;line-height:2em;color:gray;}
a:link{text-decoration:none;color:#727272;}
a:hover{text-decoration:underline;}
.two{color:white;}
td a:hover{color:#b9f605;font-weight:bolder;text-decoration:none;}
.one{font-size:14px;color:#b9f605;font-weight: bold;}
#orange{color:#fdb306;}











